*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    list-style: none;
    cursor: pointer;
    padding: 20px;
    
}
image{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
}
.sidebar h1{
    color: black;
    z-index: 1;
}
.sidebar{
    background-color: burlywood;
    color: aquamarine;
    width: 200px;
    height: 100%;
    /* padding: 30px 0; */
    overflow-y: scroll; 
    position: fixed;
    transition: all 0.3s;
} 
.item{
    width: calc(100% - 200px);
    margin-left: 200px;
    height: 100%;
    background-color: rgb(239, 239, 237);
}